baseURL = 'https://saglogog.github.io/whodathunk/'
languageCode = 'en-us'
title = 'WhoDaThunk'
theme = 'whodathunk-theme'


[markup]
[markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]
[params]
  math = false
